.gallary-page-bg{
       height: 75vh;
       background: url(../../../public/img/Gallary/bg-title-page-02.jpg.webp);
       background-size: cover;
       font-size: 3.5rem;
       font-weight: 600;
}
.active-gallary-nav-item{
       background-color: #111;
       color: #fff !important;
}
.gallary-nav-item{
       letter-spacing: .1rem;
       color: #111;
       font-weight: 500;
       padding: .4rem .6rem;
       margin: .5vh 1.5vw;
       border-radius: .5rem;
       transition: all .5s;
}
.gallary-nav-item:hover{
       background-color: #111;
       color: #fff;
}