.blog-page-bg{
       background: url(../../../public/img/blog/bg-title-page-03.jpg.webp);
       background-size: cover;
       height: 75vh;
       width: 100%;
       font-size: 3.5rem;
}
.blogPage-beadCrumb-container{
       padding: 2vh 6vw .5vh 6vw;
       border-bottom: 1px solid rgba(128, 128, 128, 0.521);
       vertical-align: middle;
}
.breadCrubmb-it{
       color: #444;
}
.activeCrumb{
       color: #44444484;
}
.blog-page-searchbar-container{
       width: 90%;
}
.blog-search-icon-container{
       right: 0;
       width: 15%;
       height: 100%;
}
.blog-search-icon{
       font-size: 1.5rem !important;
}
.blog-category-item{
       color: #444;
       border-bottom: 1px solid #44444461;      
}
.archive-title{
       color: #444;
     transition: all .5s;
}
.archive-title:hover{
       color: red;
}
.archive-count{
       color: #44444482;
}