.blog-page-bg{
       background: url(../../../public/img/blog/bg-title-page-03.jpg.webp);
       background-size: cover;
       height: 75vh;
       width: 100%;
       font-size: 3.5rem;
}
.blogPage-beadCrumb-container{
       padding: 2vh 6vw .5vh 6vw;
       border-bottom: 1px solid rgba(128, 128, 128, 0.521);
       vertical-align: middle;
}
.activeCrumb{
       color: #444;
}
@media screen and (min-width: 578px) {
       .blog-articles-container{
border-right: 1px solid rgba(128, 128, 128, 0.393);
       }
}