.time-container{
       font-size: 4rem;
       font-weight: 600;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
}
.time-title{
       position: absolute;
       font-size: .8rem;
       color: #444444af;
       top: 100%;
}