.home-special-signup{
       background-color: #888;
}
.home-special-signup-title{
       letter-spacing: .1rem;
}
.special-sign-up-icon{
       right: 7%;
       top: 7%;
       font-size: 1.2rem;
}
.home-special-signup-input-container input{
       padding: .5rem;
}
.home-special-signup-btn{
       background-color: black;
       color: #f3f0f0;
       transition: all .5s;
}
.home-special-signup-btn:hover{
       background-color: rgba(255, 0, 0, 0.767);
       color: #f3f0f0;
}