/* welcome-section start */
.welcome-section{
       background-color: #f3f0f0;
}
.welcome-section-descriptions{
       padding: 10%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.welcome-section-desc{
       color: #555;
       margin-top: 3vh;
       text-align: center;
}

.welcome-img-container{
       padding: 10%;
}
.welcome-img-wrapper{
       overflow: hidden;
       border-radius: 1.5vw;
}
.welcome-img{
       transition: all .7s;
}
.welcome-img:hover{
       transform: scale(1.2);
}
/* welcome-section finish */

/* discover-section start */
.discover-section{
       height: 50vh;
       background: url(../../../public/img/bg-intro-01.jpg.webp);
       background-size: cover;
       background-attachment: fixed;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
/* discover-section finish */

/* menu-demo start */
.menu-demo{
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: #f3f0f0;
       padding: 5%;
}
.menu-all-images-container{
       width: 85%;
}
/* menu-demo finish */
/* home-reservtion start  */
.home-reservtion-section{
       background-color: #d2d0d0a2;
       padding-top: 7%;
       padding-bottom: 7%;
}
.home-reservtion-img-container{
       width: 50%;
       border-radius: .7rem;
       overflow: hidden;
       margin-left: 10%;
}
.home-reservtion-img{
       transition: all .5s;
}
.home-reservtion-img:hover{
       transform: scale(1.2);
}
.home-reservtion-btn{
       background-color: #333;
       color: #f3f0f0;
       transition: all .5s;
       margin-top: 4%;
}
.home-reservtion-btn:hover{
       background-color: rgba(255, 0, 0, 0.655);
       color: #f3f0f0;
}
/* home-reservtion finish  */
.home-our-video-section{
       height: 90vh;
       width: 100%;
       background: url(../../../public/img/bg-cover-video-02.jpg.webp);
       background-size: cover;
       background-attachment: fixed;
}
.home-our-video-wrapper{
       background: #07070771;
}
.play-icon-container{
       font-size: 4rem;
       color: #f3f0f0;
       cursor: pointer;
       transition: all .5s;
}
.play-icon-container:hover{
transform: scale(1.2);
color: rgba(255, 0, 0, 0.767);
}