/* welcome-section start */
.welcome-section{
       background-color: #f3f0f0;
}
.welcome-section-descriptions{
       padding: 10%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.welcome-section-desc{
       color: #555;
       margin-top: 3vh;
       text-align: center;
}

.welcome-img-container{
       padding: 10%;
}
.welcome-img-wrapper{
       overflow: hidden;
       border-radius: 1.5vw;
}
.welcome-img{
       transition: all .7s;
}
.welcome-img:hover{
       transform: scale(1.2);
}
/* welcome-section finish */

/* discover-section start */
.discover-section{
       height: 50vh;
       background: url(../../../public/img/bg-intro-01.jpg.webp);
       background-size: cover;
       background-attachment: fixed;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
/* discover-section finish */

/* menu-demo start */
.menu-demo{
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: #f3f0f0;
       padding: 5%;
}
.menu-all-images-container{
       width: 85%;
}
/* menu-demo finish */
