#navbar{
       transition: all .5s;
       position: fixed;
       z-index: 2;
       top: 0;
       left: 0;
       right: 0;
}
.navbar-logo-container{
       transition: all .5s;
}

.nav-item{
       font-weight: 500;
       color: #fff !important;
}
.active{
       color: red !important;
}
.navbar-toggler{
       border: 1px solid #fff;
}