.upcoming-carousel{
       width: 100vw;
}
.upcoming-carousel-item{
       width: 100%;
       position: relative;
}
.upcoming-box-container{
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.upcoming-event-box{
       width: 85%;
       border-radius: 1.2rem;
       background-color: aliceblue;
       overflow: hidden;
}
.box-img-badge{
       position: absolute;
       width: 100%;
       background-color: rgba(240, 40, 40, 0.607);
       color: aliceblue;
       text-align: center;
       padding: 1% 0;
       font-size: .9rem;
}
.box-img-badge-horizontal{     
       top: 0;
       left: -1.8%;
}
.box-img-badge-vertical{
       rotate: -90deg;
       top: 45%;
     left: -46%;
      font-size: .9rem;
}

.event-box-inf-container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.event-box-inf-title{
       color: black;
       letter-spacing: .2rem;
       font-size: 1.6rem;
       text-align: center;
       margin-top: 2%;
}
.event-box-inf-desc{
       text-align: center;
       color: #444;
       padding: 5% 7%;
}
@keyframes eventBoxAnim1{
       0%{
              width: 5%;
       }
       100%{
              width: 75%;
       }
}
@keyframes eventBoxAnim2{
       0%{
              transform: translateX(-100%);
       }
       50%{
              transform: translateX(50%);
       }
       100%{
              transform: translateX(0);   
       }
}
@keyframes eventBoxAnim3{
       0%{
              transform: rotate(-90deg);
       }
       100%{
              transform: rotate(0deg);
       }
}