.meals-container{
       background-color: #99999923;
}
.meals-wrapper{
       width: 85%;
padding: 7% 0;
padding-left: 10%;
}

.meal-img-container{
       overflow: hidden;
       border-radius: 1.1vw;
}
.meal-img{
       transition: all .5s;
       cursor: pointer;
}
.meal-img:hover{
       transform: scale(1.2);
}
.meal-food-name{
       color: #222;
       font-size: 1.3rem;
       font-weight: 400;
       transition: all .5s;
}
.meal-food-name:hover{
       color: red;
}
.meal-food-info{
color: #777;
}
.meal-food-price{
font-size: 1.4rem;
font-weight: 400;
margin-top: -2%;
}