.gallary-images-container{
       width: 85%;
       margin: 10vh auto;
}

.gallary-img-container{
       overflow: hidden !important;
}
.gallary-img{
       transition: all .5s;
}
.gallary-img-layout{
       height: 100%;
       background-color: rgba(171, 164, 164, 0.322);
       top: 100%;
       left: 3.4% !important;
       right: 3.4% !important;
       border-radius: .7rem;
       transition: all .5s;
}
.gallary-img-container:hover .gallary-img-layout{
top: 0 !important;
}
.gallary-img-container:hover .gallary-img{
       transform: scale(1.4);
}
.gallary-img-search-icon{
       background-color: rgb(255, 0, 0);
       border-radius: 50%;
       width: 50px;
       height: 50px;
       padding: 1%;
       transition: all .5s;
       cursor: pointer;
}
.gallary-img-search-icon:hover{
       transform: scale(1.2);
       color: red !important;
       background-color: aliceblue;
}